@charset "utf-8";
.wrap {
    width: 800px;
    margin: 0 auto;
    height: 700px;
    border: 1px solid rgba(0,0,0,0.1);
}
h1 {
    width: 170px;
    height: 650px;
    float: left;
    background-color: rgb(101, 165, 250);
    color: #ffffff;
    margin: 0 10px 0 0;
    text-align: center;
    padding-top: 50px;
}
.line-break {
    display: block;
}
span {
    margin-right: 10px;
}